.skills-block {
	padding: em(41px) em(16px) em(48px);
	background-color: $grass-grey;
	@include desktop {
		background-color: transparent;
		padding: 0;
	}
	.container {
		@include desktop {
			width: 88%;
			@include padding-edges(em(32px), em(48px));
			margin: auto;
			background-color: $grass-grey;
		}
	}
	h2 {
		@extend %margin-bottom--head;
	}
	ul {
		width: 14rem;
		margin: auto;
		line-height: 1.6;
		li {
			text-align: left;
			list-style: circle;
		}
	}
}