// Font stacks

$font-base--sans-serif	: Helvetica, Arial, sans-serif;
$font-family--primary	: 'Open Sans', $font-base--sans-serif;
$font-family--secondary	: 'Roboto', $font-base--sans-serif;

// Font weights

$font-weight--light		: 300;
$font-weight--regular	: 400;
$font-weight--bold		: 600;

//Colors

$white			: #fff;
$black			: #000;
$gray--soft		: #f9f9f9;
$gray--light	: #d1d1d1;
$gray--shade	: #bbb;
$gray--medium	: #aaa;
$gray--dark		: #777;
$gray--deep		: #696969;

$violet--light		: #a4a9d6;
$violet--regular	: #7477bf;
$violet--dark		: #4d4c72;
$green				: #81c98f;
$cyan				: #74b1bf;

// Screen sizes

$largephones: 425px;
$tablet: 768px;
$desktop: 1024px;