// Colors

$white			:	#fff;
$black			:	#111;

$milky-white	:	#edeff0;
$shadow-white	:	#fbfeff;
$medium-grey	:	#52595f;
$dark-grey		:	#2d3339;

$brown 			:	#844b24;
$creamy-brown	:	#ba8058;
$light-brown	:	#eaaa7f;
$beige			:	#f4c6a6;
$summer-sky		:	#39add1;

// Screen sizes

$wide-mobile: 425px;